#!/bin/sh

#[Sound effect]
mpv --no-video $HOME/Música/game-start-6104.mp3 &

#[Set Touchpad]
xinput set-prop "ELAN0504:00 04F3:3091 Touchpad" "libinput Tapping Enabled" 1 &

#[Language]
setxkbmap latam &

#[Transparency]
picom -b &

#[Wallpaper]
# feh --bg-scale $HOME/.wallpapers/71.png &
nitrogen --restore &